@import "../../../theme/mixins";

.header {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 767px) {
    margin-bottom: 25px;
  }

  h1 {
    font-size: 1.25em;
    font-family: $blackWt;
    @include animation(fadeInTop);

    @media (max-width: 280px) {
      font-size: 1em;
    }
  }

  #options {
    height: 24px;
    @include animation(fadeInTop, 0.1);

    @media (min-width: 501px) {
      display: none;
    }

    @media (max-width: 280px) {
      height: 18px;
    }
  }

  .icons-container {
    svg {
      margin-right: 15px;
      @include animation(fadeInTop, 0.1);

      &:last-child {
        margin-right: 0;
        @include animation(fadeInTop, 0.2);
      }
    }

    @media (max-width: 500px) {
      display: none;
    }
  }
}
