@import "../../../theme/mixins";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-size: 1.25em;
    @include animation(fadeInTop);

    @media (max-width: 280px) {
      font-size: 1em;
    }
  }

  #options {
    height: 25px;
    @include animation(fadeInTop, 0.1);

    @media (min-width: 501px) {
      display: none;
    }

    @media (max-width: 350px) {
      height: 24px;
    }

    @media (max-width: 280px) {
      height: 19px;
    }
  }

  .icons-container {
    svg {
      margin-right: 15px;
      @include animation(fadeInTop, 0.1);

      &:last-child {
        margin-right: 0;
        @include animation(fadeInTop, 0.2);
      }
    }

    @media (max-width: 500px) {
      display: none;
    }
  }
}
