@import "../../../theme/mixins";

$responsiveHeading: (450 1.5, 350 1.25, 280 1);

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    @include animation(fadeInTop);

    @each $heading in $responsiveHeading {
      @media (max-width: #{nth($heading, 1)}px) {
        font-size: #{nth($heading, 2)}em;
      }
    }
  }

  #options {
    height: 25px;
    @include animation(fadeInTop, 0.25);

    @media (min-width: 501px) {
      display: none;
    }

    @media (max-width: 280px) {
      height: 18px;
    }
  }

  .icons-container {
    svg {
      margin-right: 15px;
      @include animation(fadeInTop, 0.25);

      &:last-child {
        margin-right: 0;
        @include animation(fadeInTop, 0.5);
      }
    }

    @media (max-width: 500px) {
      display: none;
    }
  }
}
