// * ascending order of boldness
// font-family: 'Montserrat-Thin';
// font-family: 'Montserrat-ExtraLight';
// font-family: 'Montserrat-Light';
// font-family: 'Montserrat-Regular';
// font-family: 'Montserrat-Medium';
// font-family: 'Montserrat-SemiBold';
// font-family: 'Montserrat-Bold';
// font-family: 'Montserrat-ExtraBold';
// font-family: 'Montserrat-Black';

@font-face {
  font-family: Montserrat-Black;
  src: url("../assets/fonts/Montserrat-Black.woff2");
}

@font-face {
  font-family: Montserrat-BlackItalic;
  src: url("../assets/fonts/Montserrat-BlackItalic.woff2");
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("../assets/fonts/Montserrat-Bold.woff2");
}

@font-face {
  font-family: Montserrat-BoldItalic;
  src: url("../assets/fonts/Montserrat-BoldItalic.woff2");
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url("../assets/fonts/Montserrat-ExtraBold.woff2");
}

@font-face {
  font-family: Montserrat-ExtraBoldItalic;
  src: url("../assets/fonts/Montserrat-ExtraBoldItalic.woff2");
}

@font-face {
  font-family: Montserrat-ExtraLight;
  src: url("../assets/fonts/Montserrat-ExtraLight.woff2");
}

@font-face {
  font-family: Montserrat-ExtraLightItalic;
  src: url("../assets/fonts/Montserrat-ExtraLightItalic.woff2");
}

@font-face {
  font-family: Montserrat-Italic;
  src: url("../assets/fonts/Montserrat-Italic.woff2");
}

@font-face {
  font-family: Montserrat-Light;
  src: url("../assets/fonts/Montserrat-Light.woff2");
}

@font-face {
  font-family: Montserrat-LightItalic;
  src: url("../assets/fonts/Montserrat-LightItalic.woff2");
}

@font-face {
  font-family: Montserrat-Medium;
  src: url("../assets/fonts/Montserrat-Medium.woff2");
}

@font-face {
  font-family: Montserrat-MediumItalic;
  src: url("../assets/fonts/Montserrat-MediumItalic.woff2");
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("../assets/fonts/Montserrat-Regular.woff2");
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url("../assets/fonts/Montserrat-SemiBold.woff2");
}

@font-face {
  font-family: Montserrat-SemiBoldItalic;
  src: url("../assets/fonts/Montserrat-SemiBoldItalic.woff2");
}

@font-face {
  font-family: Montserrat-Thin;
  src: url("../assets/fonts/Montserrat-Thin.woff2");
}

@font-face {
  font-family: Montserrat-ThinItalic;
  src: url("../assets/fonts/Montserrat-ThinItalic.woff2");
}
