@import "./variables";

@mixin getTheme($color, $shades) {
  @each $var in $vars {
    $index: index($vars, $var);

    @if $index == 1 {
      --#{$var}: #{invert($color)};
    } @else {
      $alpha: nth($shades, $index - 1);
      --#{$var}: #{rgba($color, $alpha)};
    }
  }
}

@mixin animation($animationName, $delay: 0) {
  animation-duration: 1s;
  animation-delay: #{$delay}s;
  animation-name: $animationName;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(0.3, 1, 0.3, 1);
}

@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}
