@import "./mixins";

.light {
  @include getTheme($black, $blackShades);
}

.dark {
  @include getTheme($white, $whiteShades);
}

p {
  margin: 0;
  color: var(--primary);
}

#{$headings} {
  margin: 0;
  font-weight: 500;
  color: var(--primary);
}

* {
  transition: background-color 0.25s;
}
