// colors
$white: #ffffff;
$black: #000000;

// shades
$whiteShades: (1 0.45 0.3 0.2 0.12 0.08 0.04);
$blackShades: (0.85 0.45 0.25 0.15 0.06 0.04 0.02);

// elements
$headings: h1, h2, h3, h4, h5, h6;

// css vars
$vars: (
  background primary secondary disable border divider child-background
    table-header
);
